.playwrite-nz-basic-title {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: Regular;
}
.playwrite-nz-basic-subtitle {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: Regular;
}