/* General Page Styling */
body {
  background-color: white;
  overflow: scroll;
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 16px;
  background-color: #1abd1f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* Clicker Button */
#button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1000;
  transform-origin: center;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

#button:hover {
  transform: translate(-50%, -50%) scale(3.15);
}

#button:active {
  transform: translate(-50%, -50%) scale(4.1);
}

#Title {
    width: 15rem;
    height: 0.5rem;
    text-size-adjust: 50rem;
}

#Count {
    width: 15rem;
    height: 5rem;
    text-size-adjust: 50rem;
}

/* Shop Button */
#shopBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 16px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

#shopBtn:hover {
  background-color: #12b41a;
}

/* Login Button */
#loginBtn {
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 10px 16px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

#loginBtn:hover {
  background-color: #19d266;
}

/* Reset Pennys Button */
#resetBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

#button {
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg) scale(2);
        position: absolute;
        top: 40%;
        left: 45%;
        width: 100px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.2s ease;
        z-index: 1000;
        transform-origin: center;
        background-color: rgba(255, 255, 255, 0);
        border-style: none;
    }
    to {
        transform: rotate(360deg) scale(2);
        position: absolute;
        top: 40%;
        left: 45%;
        width: 100px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.2s ease;
        z-index: 1000;
        transform-origin: center;
        background-color: rgba(255, 255, 255, 0);
        border-style: none;
    }
}